<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <fa-icon [icon]="icon" class="p-3"></fa-icon> Estacionamiento
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/entrada">Entrada</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/salida">Salida</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/motos">Motos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sistema-control">Sistema de Control</a>
      </li>
    </ul>
  </div>
</nav>
