<div class="mt 3">
  <div class="container border-primary">
    <div class="card text-center">
      <div class="card-header text-primary text-center">
        <h1 class="card-header">Entrada</h1>
      </div>
      <div class="text-primary text-end">
        <a routerLink="/registro-entrada" class="btn btn-primary"> Crear</a>
      </div>
    </div>
    <div class="table-responsive text-primary">
      <table class="table table striped">
        <thead>
          <tr>
            <td>idEntrada</td>
            <td>PuertaEntrada</td>
            <td>FechaHoraEntrada</td>
            <td>Placas Moto</td>
            <td>Usuario</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ent of listaEntradas">
            <td>{{ent.idEntrada}}</td>
            <td>{{ent.idSistemaControl.acceso}}</td>
            <td>{{ent.fechahora}}</td>
            <td><a routerLink="/registro-moto/{{ent.idMoto.idMoto}}">{{ent.idMoto.placasMoto}}</a></td>
            <td><a routerLink="/registro-usuario/{{ent.idMoto.idUsuario.idUsuario}}">{{ent.idMoto.idUsuario.nombreUsuario}}</a></td>
            <td>
              <a class="btn btn-outline-danger" (click)="delete(ent.idEntrada)"> Eliminar</a>
            </td>
            <td>
              <a class="btn btn-outline-success" routerLink="/registro-entrada/{{ent.idEntrada}}"> Actualizar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
