<div class="mt-3"></div>
<div class="container">
  <div class="card border-primary">
    <div class="card-body text-center">
      <div class="container">
        <form>
          <div class="card-header">
            <h1 class="text-center">{{ titulo }}</h1>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="mb-3">
                <label for="marcaMoto" class="form-label"
                  >Marca de la Moto</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="marcaMoto"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="modeloMoto" class="form-label"
                  >Modelo de la Moto</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="modeloMoto"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="serieMoto" class="form-label"
                  >Serie de la Moto</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="serieMoto"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="placasMoto" class="form-label"
                  >Placas de la Moto</label
                >
                <input type="text" class="form-control" id="placasMoto" />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
