<div class="mt 3">
  <div class="container border-primary">
    <div class="card text-center">
      <div class="card-header text-primary text-center">
        <h1 class="card-header">{{ titulo }}</h1>
      </div>
      <div class="text-primary text-end">
        <a routerLink="/registro-usuario" class="btn btn-primary"> Crear</a>
      </div>
    </div>
    <div class="table-responsive text-primary">
      <table class="table table striped">
        <thead>
          <tr>
            <td>idUsuario</td>
            <td>nombreUsuario</td>
            <td>paternoUsuario</td>
            <td>maternoUsuario</td>
            <td>Moto_idMoto</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a class="btn btn-outline-danger"> Eliminar</a>
            </td>
            <td>
              <a href="" class="btn btn-outline-success"> Actualizar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
